* {
  text-align: center;
}

.post,
.person {
  max-width: 500px;
  background-color: #ffd1d1;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 2px 2px #bdbdbd;
  margin: 10px;
}

.post_all,
.person_all {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
